/* Contact.css */
/* Style the container */
.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10em;
  min-height: calc(
    100vh - 120px
  ); /* Ensure content fills the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #007bff;; 
}

/* Style headings */
/* Style the heading h1 */
h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center; /* Use "text-align" to center horizontally */
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Center horizontally within the container */
  align-items: center; /* Center vertically within the container */
}

h2 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
}

/* Style paragraphs */
.para-one, .para-two {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #fff
}

/* Style strong elements */
strong {
  font-weight: bold;
}

/* Style emphasized elements */
em {
  font-style: italic;
}

/* Style links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style the footer */
/*.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
} */
