/* Footer.css */



/* Style the footer *//* Footer.css */

/* Style the footer to cover the whole bottom */
footer {
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black; /* Add a background color */
}


.footer {
  
  text-align: center;
}
